@charset "utf-8";
@import'common.css';
@import'header.css';
body{
	text-align:center;
}
#wrapper{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	border:2px solid blue;
}
#lookfor_list{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	background-color:#eee;
}
#lookfor_list .lookfor_ul li{
	display:block;
	text-align:left;
	padding:5px;
	margin:5px;
}
#lookfor_list .lookfor_ul img{
	width:120px;
	height:90px;
	float:left;
	margin-right:5px;
	display:inline;
}
#lookfor_list a{
	color:blue;
	text-decoration:underline;
}
#lookfor_list a:hover{
	color:red;
	text-decoration:none;
}
/*li 加强样式*/
.li_even{
	background-color:#E9DAE8;
}
.li_over{
	background-color:#E0EFDA;
}