@charset "utf-8";
@import 'panel.css';
.showbox table{
	width:90%;
}
.showbox .table_topper{
	font-weight:bold;
}
.showbox td{
	height:30px;
	padding:3px;
	padding-left:10px;
}
.showbox a{
	color:blue;
	font-weight:bold;
}
.showbox a:hover{
	color:red;
}
.showbox .jifen{
	font-size:20px;
	font-weight:bold;
	color:blue;
}
.showbox .reply_num a{
	font-size:20px;
	font-weight:bold;
	color:red;
}
.showbox .reply_num a:hover{
	color:blue;
}

