@charset "utf-8";
@import 'panel.css';
#summarize table{
	float:left;
	width:47%;
}
#summarize td{
	width:49%;
	padding-left:10px;
	text-align:left;
	height:30px;
	color:#999
}
#reply img{
	width:40px;
	height:40px;
	margin-right:5px;
	border:2px solid #999;
}
#reply h4 a{
	color:#999;
}
#reply h4 a:hover{
	color:blue;
}

#information table{
	width:100%;
}
#information input{
	padding:3px;
	width:90%;
}
#information textarea{
	width:90%;
	height:3em;
}
#information td{
	padding-top:5px;
	padding-bottom:5px;
}
#information label{
	display:block;
	text-align:center;
	font-weight:bold;
}
