@charset "utf-8";
@import 'common.css';
#header{
	height:50px;
	text-align:50px;
	width:100%;
	background-color:#e6e6e6;
}
#header b{
	font-size:30px;
	font-weight:normal;
}
#header a{
	color:#000;
}
#header a:hover{
	color:#999;
}
#header #login{
	float:right;
	margin:5px;
}
#menubar,iframe#barmid{
	height:800px;
	float:left;
}
#menubar{
	width:150px;
	height:900px;
	background:url(../image/menu-item-bg.png) repeat-y;
	color:#fff;
	font-size:15px;
}
#menubar li{
	display:block;
	height:35px;
}
#menubar  a{
	color:#000;
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
}
#menubar  a .img{
	height:30px;
	width:30px;
	float:left;
	background-image:url(../image/menu.png);
	
}
/*控制板*/
#a_control_panel .img{
	background-position:-63px 31px;
}
#a_control_panel:hover .img{
	background-position:-63px 0px;
}
/*宝贝*/
#a_sonny .img{
	background-position:-2px 31px;
}
#a_sonny:hover .img{
	background-position:-2px 0px;
}
/*求购信息*/
#a_lookfor .img{
	background-position:-153px 31px;
}
#a_lookfor:hover .img{
	background-position:-153px 0px;
}
/*留言*/
#a_leave_word .img{
	background-position:-33px 31px;
}
#a_leave_word:hover .img{
	background-position:-33px 0px;
}
/*图片*/
#a_pic .img{
	background-position:-123px 31px;
}
#a_pic:hover .img{
	background-position:-123px 0px;
}

/*资料*/
#a_information .img{
	background-position:-303px 31px;
}
#a_information:hover .img{
	background-position:-303px 0px;
}
/*设置*/
#a_set .img{
	background-position:-213px 31px;
}
#a_set:hover .img{
	background-position:-213px 0px;
}


#menubar .hide_bar{
	text-align:center;
	display:none;
}
#menubar .hide_bar a{
	display:block;
	width:90%;
}
#menubar .hide_bar a:hover{
	background-color:#000;
}
iframe#barmid{
	width:1109px;
}
	